* {
	padding: 0;
	margin: 0;
}
.main {
	position: relative;
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('uploads/index5.jpg');
	background-position: center;
	background-size: cover;
	height: 145vh;
	background-repeat: no-repeat;
}
.navbar {
	width: 1200px;
	height: 75px;
	margin: auto;
}
.icon {
	width: 200px;
	float: left;
	height: 70px;
}
.icon2 img {
	width: 200px;
	z-index: 2;
}
.icon2 {
	overflow: hidden;
	width: 100%;
	height: 200px;
	float: left;
	background-size: cover;
	background-position: center;
}
.slide {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slide.active {
	opacity: 1;
}
.logo {
	color: #e0f005;
	font-size: 30px;
	font-family: Arial;
	padding-left: 20px;
	float: left;
	padding-top: 10px;
}
.menu {
	width: 400px;
	float: left;
	height: 70px;
}
.menu ul a {
	color: #007bff;
}
ul {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li {
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;
	font-size: 14px;
}
ul li a{
	text-decoration: none;
	color: rgb(1, 1, 59);
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
ul li a:hover{
	color: yellow;
}
.dropdown-content table td a:hover  {
	color: blue;
}
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	transition: 0.4s ease-in-out;

  }
  .dropdown .dropbtn:hover {
	color: yellow;
  }
  .dropdown-content {
	display: none;
	position: relative;
	background-color: #f9f9f9;
	min-width: 160px;
	color: rgb(4, 4, 114);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
	z-index: 1;
	float: left;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	transition: 0.4s ease-in-out;
  }
  .dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: justify;
	border: none;
	border-radius: 5px;
	padding: 6px;
	margin: 5px;
	font-size: 15px;
	color: #007bff;
	font-family: 'Times New Roman';
  }

  .dropdown-content a:hover {
	transition: 0.4s ease-in-out;
  }
  .dropdown:hover .dropdown-content {
	display: block;
	width: auto;
	transition: 0.4s ease-in-out;
	position: relative;
  }
 .message { 
	display: flex;
	align-items: center; 
	justify-content: center;
	transition: 0.4s ease-in-out;

	} 
.content {
	width: 1200px;
	height: auto;
	margin: auto;
	color: white;
	position: relative;
}
.content .par{
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 30px;
	color: whitesmoke;
}
.home-header {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
.par {
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 30px;
	color: whitesmoke;
}
.content h1 {
	font-family: 'Times New Roman';
	font-size: 50px;
	padding-left: 20px;
	margin-top: 9%;
	letter-spacing: 2px;
	color:#007bff;
}
.content .cn {
	width: 160px;
	height: 40px;
	background-color: #007bff;
	border: none;
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	transition: .4s ease;
}
.content .cn a {
	text-decoration: none;
	color: white;
	transition: 0.3s ease;
}
.cn:hover {
	background-color: #e0f005;
	color: blue;
}
.content .cn a:hover{
	color: blue;
}
.content span {
	color: #e0f005;
	font-size: 60px;
}
.content .formy {
	width: 300px;
	height: 480px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
	position: absolute;
	top: -20px;
	left: 870px;
	border-radius: 10px;
	padding: 25px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.formy:focus {
	box-shadow: none;
}
.form2 {
	width: 800px;
	height: 480px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
	position: relative;
	left: 30%;
	right: 50%;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
	border-radius: 10px;
	padding: 5px;
}
.form2 input {
	width: 240px;
	height: 35px;
	background: transparent;
	border-bottom: 1px solid #e0f005;
	border-top: none;
	border-right: none;
	border-left: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 30px;
	font-family: sans-serif;
}
.formy h2 {
	width: 220px;
	font-family: sans-serif;
	text-align: center;
	color: #e0f005;
	font-size: 22px;
	background-color: #fff;
	border-radius: 10px;
	margin: 2px;
	padding: 8px;
}
.form2 input[type="textarea"]{
	width: 60%;
	border-radius: 10px;
	border-bottom: 1px solid #e0f005;
	border-top: 1px solid #e0f005;
	border-left: 1px solid #e0f005;
	border-right: 1px solid #e0f005;
	padding-top: 20px;
	padding-left: 5px;
	padding-bottom: 120px;
}
.formy input {
	width: 240px;
	height: 35px;
	background: transparent;
	border-bottom: 1px solid #e0f005;
	border-top: none;
	border-right: none;
	border-left: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 30px;
	font-family: sans-serif;
}
.formy input:focus {
	outline: none;
}
::placeholder{
	color: #fff;
	font-family: Arial;
}
.btnn {
	width: 240px;
	height: 40px;
	background: #e0f005;
	border: none;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	transition: 0.4s ease;
}
.btnn:hover {
	background: #fff;
	color: blue;
}

.btnn a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.formy .link {
	font-family: Arial;
	font-size: 17px;
	padding-top: 20px;
	text-align: center;
}

.formy .link a {
	text-decoration: none;
	color: #e0f005;
}

.liw{
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.icon a{
	text-decoration: none;
	color: #fff;
}
.icon ion-icon{
	color: #fff;
	font-size: 30px;
	padding-left: 14px;
	padding-top: 5px;
	transition: 0.3s ease;
}
.icon ion-icon:hover{
	color: #e0f005;
}
