@import url(https://fonts.googleapis.com.css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com.css?family=Source+Code+Pro:400,200,300,500,600);
* {
	box-sizing: border-box;
}
html, body {
	padding: 0px;
	margin: 0px;
}
footer {
	bottom: 0;
	margin-top: auto;
}
p {
	font-size: 18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.responsive {
	display: none;
}
.indexNav {
	position: relative;
	z-index: 1;
	border-bottom: 1px solid blue;
	width: 100%;
	height: 24vh;
	background-color: white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.indexNav > img {
	width: 200px;
	float: left;
}
.indexNav > .buttons > a {
	float: right;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.indexNav > .buttons > a:hover {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.9), 0 7px 21px 0 rgba(0, 0, 0, 0.21);
}
.index-notes-3 {
	top: 55vh;
	height: 50%;
}
.index-notes-3 > p{
	width: 100%;
	padding: 80px;
	position: absolute;
	display: inline-block;
	font-size: 32px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	flex-wrap: wrap;
	top: 45vh;
	transform: translate(-50%, -50%);
}
.present > p{
	position: relative;
	padding: 0px;
	width: 60%;
	opacity: 0.9;
	object-fit: contain;
	top: -100px;
	width: 100%;
	top: 10vh;
	font-weight: 900px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-blend-mode: color-dodge;
}
.present > img {
	object-fit: cover;
	width: 100%;
	padding: 0;
	margin: 10px;
	border-radius: 0px;
}
.image-container {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	overflow: auto;
}
.image-container .image-content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 20px;
	color: white;
}
.image-container > img {
	object-fit: cover;
	border-radius: 0px;
}
.image-container:hover {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.9), 0 7px 21px 0 rgba(0, 0, 0, 0.21);
}
.home-images {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 20px;
}
.smartphone {
	position: relative;
	width: 260px;
	height: 540px;
	margin: auto;
	border: 16px black solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.9), 0 7px 21px 0 rgba(0, 0, 0, 0.21);
  }
  
  .smartphone:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
  }
    .smartphone .content {
	width: 160px;
	height: 340px;
	background: white;
	border-radius: 20px;
	position: relative;
	display: block;
	padding: 0;
	margin: 0px;
	left: 30px;
  }
  .smartphone .content > img {
	object-fit: contain;
 }
.laptop {
  top: 70px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.5) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  position: relative;
  width: 500px;
  height: 100px;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;
  left: 50px;
  padding: 20px;
}

/* The keyboard of the laptop */
.laptop:after {
  content: '';
  display: block;
  position: relative;
  width: 1000px;
  height: 60px;
  margin: 80px 0 0 -110px;
  background: black;
  border-radius: 6px;
}

/* The top of the keyboard */
.laptop:before {
  content: '';
  display: block;
  position: relative;
  width: 250px;
  height: 30px;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.laptop .content {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border: none;
}
.devices {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 20px;
}
.laptop .content > img {
	object-fit: contain;
 }
 input[type="textarea"]{
	padding: 5px;
	height: 200px;
	width: 500px;
	border-radius: 10px;
}
 input[type="email"]{
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
	width: 50%;
 }
 input[type="submit"] {
	position: relative;
	padding: 10px;
	width: 20%;
	background-color: green;
	color: white;
	font-size: larger;
	border-radius: 10px;
	width: 20%;
}
fieldset {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
	border: none;
	border-radius: 20px;
}
/* Center the loader */
#loader {
	background-image: url('includes/images/santi2.png');
	object-fit: cover;
	background-repeat: no-repeat;
	position: fixed;
	left: 50%;
	top: 50%;
	bottom: 50%;
	z-index: 1;
	width: 100px;
	height: 100px;
	margin: -76px 0 0 -76px;
	border: 4px solid purple;
	border-radius: 50%;
	border-top: 4px solid blue;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;	
}
.loader-image {
	height: 120px;
	width: 120px;
	animation: spinlogo 2s infinite;
}
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
@keyframes spinlogo {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
	display: none;
	text-align: center;
  }